name: Web - Build
permissions:
  contents: read

on: 
  push:
    branches: ["master"]
    paths: ["Web/**", ".github/workflows/web-pr-build.yml"]
  pull_request:
    branches: ["master"]
    paths: ["Web/**", ".github/workflows/web-pr-build.yml"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Web
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3.9.1
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Compile sources
        run: npm run build
        env:
          VITE_WEATHER_API_KEY: ${{ secrets.REACT_APP_WEATHER_API_KEY }}
